@page
@model PinhuaMaster.Pages.ProductionManagement.ProductionOrder.IndexModel
@{
    ViewData["Title"] = "Index";
    ViewBag.NoContentHeader = true;
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-globe"></i>
                <h3 class="box-title"> 列表 - 生产订单</h3>
            </div>
            <div class="box-body">
                <div id="tableContainer">
                    <div id="toolbar">
                        <div class="btn-group" role="group" aria-label="...">
                            <a asp-page="Create" class="btn btn-default btn-flat"><i class="fa fa-plus"></i> 生产下单</a>
                        </div>
                    </div>
                    <table data-classes="table table-hover text-nowrap"
                           data-toggle="table"
                           data-toolbar="#toolbar"
                           data-show-columns="false"
                           data-search="true"
                           data-striped="true"
                           data-pagination="true"
                           data-page-size="15"
                           data-page-list="[15, 20, 50, 100, 200]"
                           data-url="@Url.Page("Index", "AjaxProductionOrders")"
                           id="mainTable">
                        <thead>
                            <tr>
                                <th data-width="20" data-formatter="browseRecord"></th>
                                <th data-field="@(nameof(ViewModel.dto生产单M.状态))">状态</th>
                                <th data-field="@(nameof(ViewModel.dto生产单M.单号))" class="hidden-xs">单号</th>
                                <th data-field="@(nameof(ViewModel.dto生产单M.客户名))">客户名</th>
                                <th data-field="@(nameof(ViewModel.dto生产单M.概要))">概要</th>
                                <th data-field="@(nameof(ViewModel.dto生产单M.日期))">日期</th>
                                <th data-field="@(nameof(ViewModel.dto生产单M.交期))">交期</th>
                                <th data-field="@(nameof(ViewModel.dto生产单M.备注))">备注</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script>
        function browseRecord (value, row) {
            //return '<a href="@(Url.Page("Delete"))/' + row.单位编号 + '">删除</a> <a href="@(Url.Page("Edit"))/' + row.单位编号 + '">修改</a>'
            return [
                '<a href="@(Url.Page("Details"))/' + row.单号 + '">查看</a>',
            ].join("")
        }

        var mainTable = $('#mainTable')
        var detailsTable = $('#detailsTable')
        var detailsTitle = $('#detailsTitle')
        mainTable.on('click-cell.bs.table', function (event, field, value, row, $element) {
            var url = '@Url.Page("Index", "AjaxPartnerDetails")&id=' + row.OrderId
            detailsTable.bootstrapTable('refresh', { url: url });
            detailsTitle.html(row.CustomerName + ' <small>类型：' + row.MovementTypeDescription + '</small> <small>单号：' + row.OrderId +'</small>')
            console.log(field)
            if (field != 0 && field != 14) {
                $('#detailsModal').modal()
            }
        })

        footerFormatter = function (value) { //底部合计
            var total = 0;
            for (var i in value) {
                total += isNaN(parseFloat(value[i].Amount)) ? 0 : parseFloat(value[i].Amount)
            }
                return total.toFixed(2);
        }
    </script>

    <script>
        function layerAdvanceSearch() {
            layer.open({
                type: 1,
                area: $(window).width() < 992 ? ['98%', '90%'] : ['800px', 'auto'],
                content: $('#advanceSearch'),
                shadeClose: true,
                isOutAnim: false,
                fixed: false,
                skin: 'demo-class',
                btn: ['查找', '清空'],
                yes: function () {
                    vm.toSearch()
                },
                btn2: function () {
                    vm.toSearchAfterClean()
                }
                //closeBtn: false,
                //scrollbar: false,
                //title: false,
            });
        }

    </script>
}

@section Styles{
    <style>
        .fixed-table-toolbar .bs-bars,
        .fixed-table-toolbar .search,
        .fixed-table-toolbar .columns {
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px;
            line-height: 30px;
        }

        body .demo-class .layui-layer-btn {
            border-top: 1px solid #E9E7E7;
        }

        body{
            font-size:14px;
        }
    </style>
}