@page "{Y}/{M}"
@model PinhuaMaster.Pages.Attendance.EditModel
@using PinhuaMaster.Services
@inject IAttendanceService attendanceService
@{
    ViewData["Title"] = "Edit";
    var Y = PageContext.RouteData.Values["Y"];
    var M = PageContext.RouteData.Values["M"];
    var rcid = pinhuaContext.AttendanceReport.AsNoTracking().FirstOrDefault(r => r.Y == int.Parse(PageContext.RouteData.Values["Y"].ToString()) && r.M == int.Parse(PageContext.RouteData.Values["M"].ToString())).ExcelServerRcid;
    var refreshUrl = Url.Page("Create", "Ajax", new { Y = Y, M = M });
    var getUrl = Url.Page("Edit", "AjaxExsitedAttendanceData", new { Y = PageContext.RouteData.Values["Y"], M = PageContext.RouteData.Values["M"] });
}

<div class="row">
    <div class="col-md-3">
        <div class="box box-solid">
            <div class="box-body">
                <div class="form-horizontal" id="test">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input class="form-control" id="refreshY" value="@Y" readonly />
                                <span class="input-group-addon">
                                    年
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="input-group">
                                <input class="form-control" id="refreshM" value="@M" readonly />
                                <span class="input-group-addon">
                                    月
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="form-control btn btn-default btn-flat" onclick="getAttendance()"><i class="fa fa-refresh"></i> 刷新</button>
                            <input type="hidden" id="hiddenYMList" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <form method="post" asp-page="Edit">
                                <button class="form-control btn btn-default btn-flat" type="submit"><i class="fa fa-pencil"></i> 保存</button>
                                <input type="hidden" id="refreshJSON" name="jsonStr" />
                            </form>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <button class="form-control btn btn-default" onclick="toDelete('@rcid')"><i class="fa fa-remove"></i> 删除</button>
                            <input type="hidden" id="hiddenYMList" value="" />
                        </div>
                    </div>
                    <input type="hidden" value="@(refreshUrl)" id="refreshUrl" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="box box-solid">
            <div class="box-body">
                <table data-toggle="table"
                       class="table table-bordered table-striped table-hover"
                       data-response-handler="responseHandler"
                       data-url="@getUrl"
                       id="computedTable">
                    <thead>
                        <tr>
                            <th data-width="1" data-formatter="fmtEastriver"></th>
                            <th data-sortable="true" class="hidden-xs" data-field="@(nameof(AttendanceServicePerson.Id))" data-visible="false">编号</th>
                            <th data-sortable="true" data-field="@(nameof(AttendanceServicePerson.Name))">姓名</th>
                            <th data-sortable="true" data-formatter="fmtIsFullAttendance" data-field="@(nameof(AttendanceServicePerson.IsFullAttendance))">全勤</th>
                            <th data-field="@(nameof(AttendanceServicePerson.DaytimeHours))">正班</th>
                            <th data-field="@(nameof(AttendanceServicePerson.OvertimeHours))">加班</th>
                            <th data-field="@(nameof(AttendanceServicePerson.TotalHours))">总工时</th>
                            <th class="hidden-xs" data-field="@(nameof(AttendanceServicePerson.TimesOfDinner))">用餐</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<form method="post" asp-page="Delete" id="toDeleteForm">
    <input type="hidden" id="toDeleteRcid" name="rcId" />
</form>

<!-- Modal -->
<div class="modal" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header hidden">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detailsTitle">Modal title</h4>
            </div>
            <div class="modal-body">
                <table data-classes="table table-hover table-condensed text-nowrap"
                       data-toggle="table"
                       data-striped="true"
                       id="detailsTable">
                    <thead>
                        <tr>
                            <th data-field="Name">姓名</th>
                            <th data-field="Date">日期</th>
                            <th data-field="Range0" data-visible="false">班段</th>
                            <th data-field="State0">状态</th>
                            <th data-field="From0">上班</th>
                            <th data-field="End0">下班</th>
                            <th data-field="Hours0">工时</th>
                            <th data-field="Range1" data-visible="false">班段</th>
                            <th data-field="State1">状态</th>
                            <th data-field="From1">上班</th>
                            <th data-field="End1">下班</th>
                            <th data-field="Hours1">工时</th>
                            <th data-field="DayHours">合计</th>
                        </tr>
                    </thead>

                </table>

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@

        </div>
    </div>
</div>

@section Scripts{
    <script>
        function fmtEastriver(value, row, index, field) {
            return '<a href="/Attendance/EastRiver/Details/' + Y + '/' + M + '/' + row.Id + '"><i class="fa fa-search"></i></a>'
        }

        function fmtIsFullAttendance(value, row) {
            if (value)
                return '<span class="text-danger">是</span>'
            else
                return '<span class="text-success">否</span>'
        }

        function getAttendance() {
            //var refreshY = $('#refreshY').val()
            //var refreshM = $('#refreshM').val()
            //var refreshUrl = '/Attendance/Create?Handler=Ajax&Y=' + refreshY + '&M=' + refreshM
            var refreshUrl = $('#refreshUrl').val()
            var $table = $('#computedTable')
            $table.bootstrapTable('refresh', { url: refreshUrl });
        }

        function toDelete(rcid) {
            if (confirm('确定删除这条记录吗？')) {
                $('#toDeleteRcid').val(rcid);
                $('#toDeleteForm').submit();
            }
        }

        attendance = null;

        function responseHandler(res) {
            Y = res.Y
            M = res.M
            $('#refreshJSON').val(JSON.stringify(res))
            attendance = res
            return res.PersonList
        }

        var $computedTable = $('#computedTable')
        var $detailsModal = $('#detailsModal')
        var $detailsTable = $('#detailsTable')
        var $detailsTitle = $('#detailsTitle')
        $computedTable.on('click-cell.bs.table', function (event, field, value, row, $element) {
            if (field == 0)
                return

            var personList = attendance.PersonList
            for (var i in personList) {
                if (personList[i].Id == row.Id && personList[i].Results != null) {
                    var newResultList = []
                    for (var result of personList[i].Results) {
                        var newResult = {}
                        newResult["Name"] = personList[i].Name
                        newResult["Date"] = result.Date
                        newResult["DayHours"] = result.DayHours
                        for (var z in result.Details) {
                            newResult["Range" + z] = result.Details[z].Range
                            newResult["State" + z] = result.Details[z].State
                            newResult["From" + z] = result.Details[z].Time1Fix
                            newResult["End" + z] = result.Details[z].Time2Fix
                            newResult["Hours" + z] = result.Details[z].Hours
                        }
                        newResultList.push(newResult)
                    }

                    $detailsTable.bootstrapTable('load', { data: newResultList })
                    $detailsTitle.text(personList[i].Name + ' - ' + attendance.Y + '年' + attendance.M + '月')
                    $detailsModal.modal()
                }

            }
        })

    </script>
}