@using PinhuaMaster.Services
@using PinhuaMaster.Data.Entities.Pinhua
@model DetailsModel
@{
    var customer = pinhuaContext.往来单位.FirstOrDefault(p => p.单位编号 == Model.Id);
    var sum = pinhuaContext.myView_对账_合计.FirstOrDefault(p => p.CustomerId == customer.单位编号)?.Amount;
}
<div class="box box-solid">
    <div class="box-header">
        <div class="box-title" style="font-weight:bold">
            @customer.单位名称 - <small class="text-danger">合计金额：@sum</small>
            @*<a class="btn btn-default" href="@Url.Page("Details", "ExportExcel", new { Id = Model.Id })"><i class="fa fa-table"></i> 导出 Excel</a>*@
            @*<a class="btn btn-default" href="@Url.Page("Details", "ExportExcelEPPlus", new { Id = Model.Id })"><i class="fa fa-table"></i> 导出 Excel</a>*@
        </div>
    </div>
    <div class="box-body">
        <table id="details" class="table table-hover table-bordered nowrap"></table>
    </div>
</div>

@Html.Style(
    @<text>
        <meta content="width=1024, maximum-scale=2" name="viewport">
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/lib/datatables/media/css/dataTables.bootstrap.min.css" />
        </environment>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
        <style>
        </style>
    </text>)

@Html.Script(
    @<text>
        <environment include="Development">
            <script src="~/lib/datatables/media/js/jquery.dataTables.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.bootstrap.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/lib/datatables/media/js/jquery.dataTables.min.js"></script>
            <script src="~/lib/datatables/media/js/dataTables.bootstrap.min.js"></script>
        </environment>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        <script src="~/js/dataTables.options.js"></script>
        <script>
        $.extend(true, $.fn.DataTable.defaults, CONSTANT.DATA_TABLES.DEFAULT_OPTION);

        detailTable = $('#details').DataTable({
            @*ajax: {
                url: "@Url.Page("Details","Ajax", new { Model.Id})",
                type: "get",
                //dataSrc: "@(Html.Raw(nameof(ViewModel.Model应收应付.明细)))",
                dataSrc:""
            },*@
            data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.StatementData)),
            autoWidth: false,
            scrollX: true,
            pageLength: -1,
            searching: true,    //禁用原生搜索
            //scrollY:'600',
            //dom: "fr<'#detailPanel.panel panel-primary'<'panel-heading'<'row'<'col-xs-5'<'panel-title'>><'col-xs-7'>>>t<'panel-footer'>><'row'<'col-xs-5'i><'col-xs-7'p>>",
            //dom: 'Bfrtip',
            dom: '<"#myTools"fr>tip',
            //buttons: [
            //    { extend: 'copy', attr: { id: 'allan' } }, 'csv', 'excel', 'pdf',
            //],
            columns: [
                { data: "@(nameof(DbQuery_对账汇总.OrderId))", title: "单号", className:["hidden"] },
                { data: "@(nameof(DbQuery_对账汇总.OrderDate))", title: "日期", width: "200px", visible: true },
                { data: "@(nameof(DbQuery_对账汇总.MovementTypeDescription))", title: "业务描述", visible: true },
                { data: "@(nameof(DbQuery_对账汇总.Remarks))", title: "备注", visible: true },
                { data: "@(nameof(DbQuery_对账汇总.ItemId))", title: "产品编号", class:"hidden-xs", visible: true },
                { data: "@(nameof(DbQuery_对账汇总.Description))", title: "产品描述" },
                { data: "@(nameof(DbQuery_对账汇总.Specification))", title: "规格" },
                { data: "@(nameof(DbQuery_对账汇总.Qty))", title: "片数", class: "text-right" },
                { data: "@(nameof(DbQuery_对账汇总.UnitQty))", title: "数量", class: "hidden-xs text-right", visible: true },
                { data: "@(nameof(DbQuery_对账汇总.Unit))", title: "单位", class: "hidden-xs", visible: true },
                { data: "@(nameof(DbQuery_对账汇总.Price))", title: "单价", class:"text-right" },
                { data: "@(nameof(DbQuery_对账汇总.Amount))", title: "金额", class:"text-right" },
            ],
            rowCallback: function (row, data) {
                if (data.Amount < 0) {
                    $(row).addClass('text-red')
                }
            },
            drawCallback: function (settings) {
                var api = this.api();
                var rows = api.rows({ page: 'current' }).nodes();

                var idx = 0;    // 第一列进行合并
                var last = null;
                var tr = null;
                var ltd = null;
                var firstRowLineNo = [];
                api.column(idx, { page: 'current' }).data().each(function (group, i) {
                    tr = $(rows[i]);
                    var td = $("td:eq(" + idx + ")", tr);
                    if (last !== group) {
                        td.attr("rowspan", 1);
                        td.text(group);
                        ltd = td;
                        last = group;
                        td.css("vertical-align", "middle");
                        firstRowLineNo.push(i)
                    }
                    else {
                        ltd.attr("rowspan", parseInt(ltd.attr("rowspan")) + 1);
                        td.css("display", "none");
                    }
                });

                var idx = 1;    // 第二列进行合并
                var last = null;
                var tr = null;
                var ltd = null;
                var i1s = [];
                api.column(idx, { page: 'current' }).data().each(function (group, i) {
                    tr = $(rows[i]);
                    var td = $("td:eq(" + idx + ")", tr);
                    if (last !== group || firstRowLineNo.indexOf(i) !== -1) {
                        td.attr("rowspan", 1);
                        td.text(group);
                        ltd = td;
                        last = group;
                        td.css("vertical-align", "middle");
                        firstRowLineNo.push(i)
                    }
                    else {
                        ltd.attr("rowspan", parseInt(ltd.attr("rowspan")) + 1);
                        td.css("display", "none");
                    }
                });

                var idx = 2;    // 第三列进行合并
                var last = null;
                var tr = null;
                var ltd = null;
                var i1s = [];
                api.column(idx, { page: 'current' }).data().each(function (group, i) {
                    tr = $(rows[i]);
                    var td = $("td:eq(" + idx + ")", tr);
                    if (last !== group || firstRowLineNo.indexOf(i) !== -1) {
                        td.attr("rowspan", 1);
                        td.text(group);
                        ltd = td;
                        last = group;
                        td.css("vertical-align", "middle");
                        firstRowLineNo.push(i)
                    }
                    else {
                        ltd.attr("rowspan", parseInt(ltd.attr("rowspan")) + 1);
                        td.css("display", "none");
                    }
                });
            },
            })

            $("div#myTools").prepend('<div class="pull-left"><a class="btn btn-default" href="@Url.Page("Details", "ExportExcelEPPlus", new { Id = Model.Id })"><i class="fa fa-table"></i> 导出 Excel</a> <a class="btn btn-default" href="@Url.Page("Details", "ExportExcelEPPlus2", new { Id = Model.Id })"><i class="fa fa-table"></i> 模板导出 Excel</a></div>');

            $(window).resize(function () {
                detailTable.columns.adjust();
            })
        </script>
    </text>)
